<app-title tituloId={{tituloId}} titulo={{titulo}}></app-title>

<section class="mx-4">
  <div class="mockup-window border border-base-300 max-w-screen-md m-auto">
    <div class="pl-4 py-4 bg-base-200">
      <div>
        <span>1.</span> 
        <span class="ml-4">const myExperience = {{'{'}}</span>
      </div>

      <div>
        <span>2.</span>
        <span class="ml-8">tecnologies:</span>
        <span class="ml-1">[</span>
        <span>'C#', 'VB', 'JavaScript', 'TypeScript', 'CSS', 'HTML'</span>
        <span>],</span>
      </div>

      <div>
        <span>3.</span>
        <span class="ml-8">tools:</span>
        <span class="ml-1">[</span>
        <span>'.NET', '.NETCore', 'VSCode'</span>
        <span>],</span>
      </div>
      
      <div>
        <span>4.</span>
        <span class="ml-8">webProyects:</span>
        <span class="ml-1">{{'{'}}</span>
      </div>
      
      <div>
        <span>5.</span>
        <span class="ml-12 ">frontEnd:</span>
        <span class="ml-1">{{'{'}}</span>
      </div>

      <div>
        <span>6.</span>
        <span class="ml-16 ">js:</span>
        <span class="ml-1">[</span>
        <span>'Vanilla', 'jQuery', 'NextJS', 'NodeJS', 'Express', 'Handlebars'</span>
        <span>],</span>
      </div>      
      
      <div>
        <span>7.</span>
        <span class="ml-16 ">css:</span>
        <span class="ml-1">[</span>
        <span>'Native', 'Bootstrap'</span>
        <span>],</span>
      </div>   

      <div>
        <span>8.</span>
        <span class="ml-12 ">backEnd:</span>
        <span class="ml-1">{{'{'}}</span>
      </div>

      <div>
        <span>9.</span>
        <span class="ml-16 ">js:</span>
        <span class="ml-1">[</span>
        <span>''NodeJS', 'Express', 'Handlebars'</span>
        <span>],</span>
      </div>      
      
      <div>
        <span>10.</span>
        <span class="ml-14 ">csharp:</span>
        <span class="ml-1">[</span>
        <span>'Dapper', '.NETCore6', '.NETCore8'</span>
        <span>],</span>
      </div>  

      <div>
        <span>11.</span>
        <span class="ml-10">{{'},'}}</span>
      </div> 

      <div>
        <span>12.</span>
        <span class="ml-6">desktopProjects:</span>
        <span class="ml-1">{{'{'}}</span>
      </div>

      <div>
        <span>13.</span>
        <span class="ml-12">fullstack:</span>
        <span class="ml-1">{{'{'}}</span>
      </div>

      <div>
        <span>14.</span>
        <span class="ml-16">vb:</span>
        <span class="ml-1">[</span>
        <span>'.NET Framework'</span>
        <span>],</span>
      </div>

      <div>
        <span>15.</span>
        <span class="ml-16">cSharp:</span>
        <span class="ml-1">[</span>
        <span>'Dapper', '.NETCore6', '.NETCore8'</span>
        <span>],</span>
      </div>

      <div>
        <span>16.</span>
        <span class="ml-12">{{'},'}}</span>
      </div> 

      <div>
        <span>17.</span>
        <span class="ml-6">{{'},'}}</span>
      </div> 

      <div>
        <span>18.</span>
        <span class="ml-6">databases:</span>
        <span class="ml-1">[</span>
        <span>'SQLServer', 'MySQL', 'PostgreSQL'</span>
        <span>],</span>
      </div>

      <div>
        <span>19.</span>
        <span class="ml-2">{{'}'}}</span>
      </div> 
    </div>
  </div>
</section>
