<!-- <pre>
  {{ responseApi$ | async | json }}
</pre> -->

<app-title tituloId={{tituloId}} titulo={{titulo}}></app-title>

<section class="p-4">
  <div class="flex flex-wrap gap-4 justify-center max-w-screen-xl m-auto">

    @if (responseApi$ | async; as respApi) {
      @if (respApi.data != null) {
        @for (youtube of respApi.data; track $index) {

          <div class="card w-96 bg-base-100 shadow-xl">
            <figure>
              <iframe class="w-full aspect-video rounded-xl" [src]="sanitize(youtube.embed)"></iframe>
            </figure>
          </div>

        }
      }
    }

  </div>
</section>
